<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Color</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="clearCurrentColor()" [class]="getDefaultColorClass()" routerLink="/cars" >
        <td>All Vehicles</td>
      </tr>
      <tr (click)="setCurrentColor(color)" [class]="getCurrentColorClass(color)" routerLink="/color/{{color.id}}"  *ngFor="let color of colors ">
       
        <td>{{color.name}}</td>
    
      </tr>
      
    </tbody>
  </table>
