<table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Brand</th>
      </tr>
    </thead>
    <tbody>
      <tr [class]="getDefaultBrandClass()" routerLink="/" (click)="clearCurrentBrand()" >
       
        <td class="text-center">Tüm Araçlar</td>
     
       </tr>
       
      <tr [class]="getCurrentBrandClass(brand)" routerLink="/brand/{{brand.id}}" (click)="setCurrentBrand(brand)" *ngFor="let brand of brands">
       
       <td class="text-center">{{brand.name}}</td>
    
      </tr>
      
    </tbody>
  </table>

