<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form [formGroup]="rentForm">
        <div class="mb-3">
          <label for="rentDate" class="form-label">Rent Date</label>
          <input
            type="date"
            class="form-control"
            id="rentDate"
            formControlName="rentDate"
            
          />
        </div>
        <div class="mb-3">
            <label for="returnDate" class="form-label">Return Date</label>
            <input
              type="date"
              class="form-control"
              id="returnDate"
              formControlName="returnDate"
            
            />
          </div>
        <button class="btn btn-success" (click)="paymentLink()">Ekle</button>
      </form>
    </div>
  </div>
</div>
