<div class="px-4 py-5 text-center bg-dark-brown">
  <img
    class="d-block mx-auto mb-4"
    src="..\assets\img\pngegg (1).png"
    alt=""
    width="350"
  />
  <h1 class="display-5 fw-bold">Welcome To Doki Doki</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
    You can list avaliable vehicles with the interval you want to rent
    </p>
    <div class="container">
      <div class="row">
        <div class="col">
          <form action="">
            <div class="row justify-content-center">
              <div class="col-md-4">
                <label for="rentDate" class="h3">Rent Date</label>
                <input id="rentDate" type="date" class="form-control" />
              </div>
              <div class="col-md-4">
                <label for="rentDate" class="h3">Rent Date</label>
                <input id="rentDate" type="date" class="form-control" />
              </div>
            </div>
          </form>
        </div>
      </div>

      <br />
      <button type="button" class="btn btn-success btn-lg px-4">
        Find Cars
      </button>
    </div>
  </div>
</div>
