<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <mat-icon aria-hidden="false" aria-label="Example home icon">car_rental</mat-icon>
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        
        <li class="text-center"> <button class="btn btn-danger ">Clear Rental Cart</button></li>
      </ul>
    </li>
  </ul>