<nav *ngIf="dataLoaded" class="navbar navbar-expand-lg navbar-light bg-light-beige  py-3">
    <div class="container color-1">
    
      <a class="navbar-brand text-dark-brown font-oldstandart fs-3 me-5 ms-4" href="#">Doki Doki Car</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse ms" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  font-oldstandart fs-4" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  fs-4 font-oldstandart" href="cars">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4 font-oldstandart" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4 font-oldstandart" href="#">Contact</a>
          </li>
        
        </ul>
     
        <div *ngIf="!isLogged" class="">
          <button [routerLink]="['/login']"  type="button" class="btn btn-warning text-white me-2">Login</button>
          <button [routerLink]="['/register']" type="button" class="btn text-white btn-warning">Register</button>
        </div>
        
        <div *ngIf="isLogged" class="">
         <span class="text-white">Welcome {{user.firstName}} {{user.lastName}}</span><br>
         <button [routerLink]="['/']" (click)="logOut()" type="button" class=" text-white btn-warning">Log Out</button>

        </div>
      </div>
    </div>
  </nav>
