/* You can add global styles to this file, and also import other style files */

a{
    text-decoration: none;
    color: white
}
a:hover{
    color: black
}
html, body { height: 100%; color: #F4DFBA; }
li{
    color: #F4DFBA;
}
tr{
    color: #F4DFBA;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #876445; }
.font-oldstandart{
    font-family: 'Old Standard TT', serif !important;
}
.text-dark-brown{
    color: #876445 !important;
}
.bg-light-beige{
    background-color: #F4DFBA !important;
}
