<div *ngIf="dataLoaded" class="container-sm">
    <div class="row">
        <div class="col">
            <form [formGroup]="carForm">
              <div class="mb-3">
                <label for="brandId" class="form-label">Brand Name</label>
                <select 
                  class="form-control"
                  id="brandId"
                  formControlName="brandId"
                  
                >
                
                <ng-container *ngFor="let brand of brands">
                  <option [ngValue]="brand.id">{{brand.name}}</option>
                </ng-container>
              </select>
              </div>
      
              <div class="mb-3">
                <label for="colorId" class="form-label">Color Name</label>
                <select 
                class="form-control"
                id="colorId"
                formControlName="colorId"
              >
          
              <ng-container *ngFor="let color of colors">
                <option  [ngValue]="color.id">{{color.name}}</option>
              </ng-container>
            </select>
              </div>

                  <div class="mb-3">
                    <label for="modelYear" class="form-label">Model Year</label>
                    <input type="number" class="form-control" id="modelYear" formControlName="modelYear">
                  </div>

                  <div class="mb-3">
                    <label for="dailyPrice" class="form-label">Daily Price</label>
                    <input type="number" class="form-control" id="dailyPrice" formControlName="dailyPrice">
                  </div>

                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" formControlName="description">
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                  </div>


                  <button class="btn  btn-success" (click)="addCar()">Ekle</button>
            </form>
        </div>
    </div>
</div>

